<!DOCTYPE HTML>
<html>
<head>
    <title>{{ page_title }}</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
{% block stylesheets %}
    {% stylesheets 
        'js/jqGrid/css/ui.jqgrid.css'
        'js/jquery-ui/themes/base/jquery-ui.css'
        'css/jqgrid.css'
        'css/leftmenu.css'
        'css/base.css'
    filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}    

{{ db|raw }}
{% javascripts
    '@jquery_and_jqGrid'
    '@jquery_cookie'
    '@main'
     %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% block prev_scripts %}
{% endblock %}
</head>
<body>
    {% include 'baseheader.html.twig' %}
    <div id="content">
        <div id="left_side"></div>
        {% block content %}{% endblock %}
        <div id="right_side"></div>
    </div>
    
    {% if is_granted('ROLE_ADMIN') %}
        {% javascripts '@AppBundle/Resources/public/js/jqgrid_for_admin.js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% else %}
        {% javascripts '@AppBundle/Resources/public/js/jqgrid_for_not_admin.js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}

    {% block scripts %}
       <script type="text/javascript">
            $('.bucket_count').html($.cookie('bucket_count') || 0);
            $('#bucket_sum').html($.cookie('bucket_sum') || 0);
            $('#total_sum').html($.cookie('bucket_sum') || 0);
       </script>
    {% endblock %}
</script>
</body>
</html>
