<!DOCTYPE HTML>
<html>
<head>
    <title>{{ page_title }}</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
{% block stylesheets %}
    {% stylesheets 
        'js/jqGrid/css/ui.jqgrid.css'
        'js/jquery-ui/themes/base/jquery-ui.css'
        'js/jquery-ui/jquery-ui.min.css'
        'css/jqgrid.css'
        'css/leftmenu.css'
        'css/base.css'
    filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}    

{{ db|raw }}
{% javascripts
    '@jquery_and_jqGrid'
    '@jquery_cookie'
    '@main'
     %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% block prev_scripts %}
{% endblock %}
</head>
<body>
    <div id="high_head">
        <ul id="high_menu">
            <li>
                <a href="/">
                {% image '@AppBundle/Resources/public/images/icons/home_40.png' %}
                    <img src="{{ asset_url }}" id="bucket_icon"/>{% endimage %}
                Главная</a>
            </li>
            <li>
                {% if is_granted('ROLE_ADMIN') %}
                <a href="/admin">
                {% image '@AppBundle/Resources/public/images/icons/administrator_40.png' %}
                <img src="{{ asset_url }}" id="bucket_icon"/>{% endimage %}
                Администрирование</a>
                {% elseif is_granted('ROLE_USER')%}
                    <a href="/personal">
                    {% image '@AppBundle/Resources/public/images/icons/user_40.png' %}
                    <img src="{{ asset_url }}" id="bucket_icon"/>{% endimage %}
                    Личный кабинет</a>
                {% else %}
                    <a href="/login">
                    {% image '@AppBundle/Resources/public/images/icons/key_40.png' %}
                    <img src="{{ asset_url }}" id="register_icon"/>{% endimage %}
                    Авторизация</a>
                {% endif %}

                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
                <ul class="hide_info">
                    <li><a href="/orders">
                        {% image '@AppBundle/Resources/public/images/icons/list_40.png' %}
                        <img src="{{ asset_url }}" id="register_icon"/>{% endimage %}
                        Мои заказы</a>
                    </li>
                    <li><a href="/logout">
                        {% image '@AppBundle/Resources/public/images/icons/door_40.png' %}
                        <img src="{{ asset_url }}" id="register_icon"/>{% endimage %}
                        Выйти</a>
                    </li>
                </ul>
                {% endif %}
            </li>
            <li id="bucket_item">
                <a href="/bucket">
                    {% image '@AppBundle/Resources/public/images/icons/shoping_cart_40.png' %}
                        <img src="{{ asset_url }}" id="bucket_icon"/>
                    {% endimage %}В корзине
                    <span class="bucket_count">0</span></a>
                <ul id='bucket_info' class="hide_info">
                    <li class="bucket_labels"><a href="/bucket">товаров</a></li>
                    <li class="bucket_values"><a href="/bucket" class="bucket_count">0</a></li>
                    <li class="bucket_labels"><a href="/bucket">сумма</a></li>
                    <li class="bucket_values"><a href="/bucket" id="bucket_sum">0</a></li>
                </ul>
            </li>
        </ul>   
    </div>
    <div id="header_background">
        <!--div id="center_block">
            <div id="site_name_block">
                <a href="/" class="site_name">{{ site_name }}</a><br>
                <a href="/" class="site_phrase">все для принтера</a>
            </div>
        </div-->
    </div>
    
    <div id="content">
        <div id="left_side"></div>
        {% block content %}{% endblock %}
        <div id="right_side"></div>
    </div>
    
    {% if is_granted('ROLE_ADMIN') %}
        {% javascripts '@AppBundle/Resources/public/js/jqgrid_for_admin.js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% else %}
        {% javascripts '@AppBundle/Resources/public/js/jqgrid_for_not_admin.js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}

    {% block scripts %}
       <script type="text/javascript">
            $('.bucket_count').html($.cookie('bucket_count') || 0);
            $('#bucket_sum').html($.cookie('bucket_sum') || 0);
            $('#total_sum').html($.cookie('bucket_sum') || 0);
       </script>
    {% endblock %}
</script>
</body>
</html>
