{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
    	<style type="text/css">
    		.cur_page{
    			font-size: 20px;
    			color: #2c4359;
    		}
    	</style>
{% endblock %}

{% block content %}
	<div id="grid_block">
		<span class="cur_page">{{ curPage }}</span><p>
		<div id="pager"></div>
		<table id="bucket_list"><tr><td></td></tr></table>
		<div id="pager"></div>
		<div class="total_block">
			<label class='total'>ИТОГО:</label>
			<div id="total_sum"></div>
			<span class='total'>рублей</span>
		</div><p>
	{% if is_granted('ROLE_ADMIN') %}
		<!--button class="green_button center_position">Оформить заказ</button-->
	{% elseif is_granted('ROLE_USER') %}
		<button class="green_button center_position" id="create_order">Оформить заказ</button>
	{% else %}
		<a href="register" class="green_button center_position">Зарегистироваться</a>
	{% endif %}
	</div>
	<div id="dialog" title="Заказ успешно принят!">
	</div>
{% endblock %}

{% block scripts %}
	{{ parent() }}
	{% javascripts '@AppBundle/Resources/public/js/jqgrid_bucket_create.js' %}
		<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
	<script>
		$('#create_order').click(function (event) {
			$.ajax("{{ path('create_order') }}", {
		        data: { 
		            'order': JSON.stringify(data)
		        },
		        success: function(data) {
		        	$.removeCookie('bucket_list', {path: "/", domain: "127.0.0.1"});
					$.removeCookie('bucket_count', {path: "/", domain: "127.0.0.1"});
					$.removeCookie('bucket_sum', {path: "/", domain: "127.0.0.1"});
		        	$('#dialog').dialog({
		        		modal: true
		        	});
		        	$("#dialog").html(
		        		'Ваш заказ успешно принят. Мы свяжемся с вами в ближайшее время. Номер вашего заказа <b>#'+ 
		        		data['id'] + '</b> от <b>' + data['date'] + '</b><br>' + 
		        		'Вы можете следить за выполнением своего заказа через <a href="/personal">Личный кабинет </a>');
		        },
		        error: function() {
		        	$('#dialog').dialog({
		        		modal: true
		        	});
		        	$('#dialog').attr('title', 'Не удалось отправить заказ');
		        	$("#dialog").html(
		        		'Попробуйте позже. Приносим свои извинения.'
		        	);
		        }
		    });
		});
	</script>
{% endblock %}

