<!DOCTYPE HTML>
<html>
<head>
<title>{{ page_title }}</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
{% stylesheets 
	'bundles/app/css/jqGrid/css/ui.jqgrid.css'
	'bundles/app/css/jquery-ui/themes/blitzer/jquery-ui.css'
	'bundles/app/css/main_styles.css'
 	filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{{ db|raw }}
{% javascripts
	'@jquery_and_jqGrid'
	'@jquery_cookie' %}
	<script src="{{ asset_url }}"></script>
{% endjavascripts %}
</head>
<body>
	<img src=""></img>
	<ul class="entrance">
		<li><a href="/register">Регистрация</a></li>
		<li><a href="/login">Войти</a></li>
	</ul>
	<div id="header">
		<div id="site_name_block">
			<a href="/" class="site_name">{{ site_name }}</a><br>
			<a href="/" class="site_phrase">Всё для принтера</a>
		</div>
		<div class="search_line"></div>
		<div id="bucket" onclick="location.replace('/bucket')">
			{% image '@AppBundle/Resources/public/images/bucket.png' %}
		    	<img src="{{ asset_url }}" class="bucket_icon"/>
			{% endimage %}
			<table id="bucket_table"'>
				<tr>
					<td>Товаров</td>
					<td id="bucket_count">0</td>
				</tr>
				<tr>
					<td>Сумма(руб)</td>
					<td id="bucket_sum">0</td>
				</tr>
			</table>
		</div>
	</div>
	<div id="content">
		<h4>{{ path|raw }}</h4>
		<div id="grid_block">
			<div id="pager"></div>
			<table id="bucket_list"><tr><td></td></tr></table>
		    <div id="pager"></div>
		    <div class="total_block">
		    	<label class='total'>ИТОГО:</label>
		    	<div id="total_sum"></div>
		    	<span class='total'>рублей</span>
		    </div>
		    <p>
	{% if is_granted('ROLE_USER') %}
    	<button class="green_button center_position">Оформить заказ</button>	
	{% endif %}
	    </div>
    </div>
    {% javascripts '@AppBundle/Resources/public/js/jqgrid_bucket_create.js' %}
		<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
</body>
</html>
