{% extends 'base.html.twig' %}

{% block content %}
<div id="menu_block">
	{{ knp_menu_render('AppBundle:Builder:mainMenu') }}
</div>
<div id="grid_block">
	<h4>
	{% for pathElem in path %}
		<a class="path_link" href="{{ pathElem['url'] }}">{{ pathElem['name'] }}</a> >
	{% endfor %}
		<span class="cur_page" >{{ curPage }}</span>
	</h4>
	<div id="pager"></div>
	<table id="list"><tr><td></td></tr></table>
	<div id="pager"></div>
</div>
{% endblock %}

{% block scripts %}
	{% javascripts
		'@AppBundle/Resources/public/js/jqgrid_create.js'
		'@AppBundle/Resources/public/js/generate_menu.js' %}
			<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}