{% extends 'personal/menu.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets 'bundles/app/css/orders.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <style type="text/css">
    	.cancel_button{
    		padding: 5px 20px;
    	}
    </style>
{% endblock %}

{% block maincontent %}
	<span class="cur_page">{{ curPage }}</span><p>
	{% for orderElem in orders %}
		<div class="order_elem">
			<div class="order_header">Заказ <b>#</b><b id="order_id">{{ orderElem['id'] }}</b> от <b id="order_date">{{ orderElem['date'] }}</b></div>
			<div class="order_content">
				<b>Статус: </b>
				{% if orderElem['levelState'] <= 1 %}
					<span class='status_0'> 
				{% elseif  orderElem['levelState'] == 2 %}
					<span class='status_1'>
				{% elseif  orderElem['levelState'] == 3 %}
					<span class='status_2'>
				{% endif %}
					{{ orderElem['state'] }}</span><p>
				<b>Сумма к оплате: </b> {{ orderElem['sum'] }} руб.<p>
				<b>Состав заказа: </b>
				<div class="product_list">
					{{ orderElem['productList'] }}
				</div>
			</div>
			<div class="order_navig">
				{% if not (orderElem['state'] starts with 'Заказ отменен') %}
					<span class="cancel_button" onclick="confirmCancelOrder(this)">Отменить заказ</span>
				{% endif %}
			</div>
		</div>
	{% endfor %}
	<div id="dialog"></div>
{% endblock %}

{% block scripts %}
	{{ parent() }}
	<script type="text/javascript">
		$('.product_list').each(function(){
			var product_list = JSON.parse($(this).html());
			$(this).html('');
			var product_list_div = $(this);
			product_list.forEach(function(item, i, arr){
				product_list_div.append(
					++i  + '. <a href="/product/' + item['id'] + '" >' + item['Name'] + '</a> '
					 + '<span class="price"> '
					 + item['Count'] + 'шт. x ' + item['RetailPrice'] + 'руб. | ' + item['Sum'] + 'руб. '
					 + '</span><p>'
					);
			});
		});

		function confirmCancelOrder(btn){
			var parent = $(btn).parent().parent();
			var orderId = parent.children(".order_header").children("#order_id").html();
			var orderDate = parent.children(".order_header").children("#order_date").html();
			$('#dialog').attr('title', 'Подтвердите действие: отмена заказа');
			$('#dialog').html(
				'Вы уверены, что хотите отменить заказ <b>#' + orderId + '</b> от <b>' + orderDate + '</b>?'
			);

			$('#dialog').dialog({
        		modal: true,
        		buttons: {
        				"Да" : function (){
        					$(this).dialog('close');
        					cancelOrder(btn, orderId, orderDate);
        				},
        				'Отмена': function(){
        					$(this).dialog('close');
        				}
        			}
        	});
		}

		function cancelOrder(btn, orderId, orderDate){
			$.ajax(
				"{{ path('cancel_order') }}", {
				data: { 'id': orderId },
				success: function(data){
					$('#dialog').attr('title', 'Отмена заказа');
					$('#dialog').html(
						'Заказ <b>#' + orderId + '</b> от <b>' + orderDate + '</b> отменен'
					);
					$('#dialog').dialog({
						modal: true, buttons: {
							"Ок": function(){
								location.reload('/orders');
							}
						}
					});
				},
				error: function(){
					$(parent).css('display', 'none');
					$('#dialog').attr('title', 'Возникла ошибка');
					$('#dialog').html(
						'Заказ <b>#' + orderId + '</b> от <b>' + orderDate + '</b> не удалось отменить.<br> Попробуйте позже'
					);
					$('#dialog').dialog({
						modal: true, buttons: {}
					});
				}
			});
		}
	</script>
{% endblock %}