{% extends 'personal/menu.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets 'css/personal.css' filter='cssrewrite' %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block maincontent %}
	<div class="person_content">
		<span class="cur_page">Личный кабинет</span><p>
		<table id="profile_table">
			<tr>
				<td class="label_profile">Ваш логин:</td>
				<td>{{ app.user.username }}</td>
			</tr>
			<tr>
				<td class="label_profile">Ваш e-mail:</td>
				<td>{{ app.user.email }}</td>
			</tr>
			<tr>
				<td colspan="2" id="profile_navig">
					<!--buttom class="pozitive_button" href="#">
						{% image '@AppBundle/Resources/public/images/icons/pencil_40.png' %}
						<img src="{{ asset_url }}" id="edit_icon"/>{% endimage %}
						Редактировать
					</button-->
				</td>
			</tr>
		</table>
	</div>
{% endblock %}

