<!DOCTYPE html>
<html>
<head>
	<title>Интернет - магазин | Войти в личный кабинет</title>
	{% stylesheets 
		'css/base.css'
		'css/form.css'
		filter='cssrewrite' %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
</head>
<body>
	{% include 'baseheader.html.twig' %}
	<div id="content">
		<div id="left_side"></div>
		{% block content %}
		<div class="content_block">
			<span class="cur_page center_self">Регистрация</span><p>
			<form id="form" action="{{ path('user_registration') }}" method="post">
				<div class="input_and_label_block">
					{{ form_start(form) }}
					{{ form_row(form.username, { 'label': 'Логин' }) }}<p>
					{{ form_row(form.email, { 'label': 'Адрес электронной почты (e-mail)' }) }}<p>
					{{ form_row(form.plainPassword.first, { 'label': 'Пароль' }) }}<p>
					{{ form_row(form.plainPassword.second, { 'label': 'Пароль (ещё раз)'}) }}
					<p>
					<button type="submit" class="pozitive_button center_self">Зарегистрироваться</button>
					{{ form_end(form) }}<p>
					<div class="entrance"><a href="/login">Войти в личный кабинет</a></div>
				</div>
			</form>
		</div>
		{% endblock %}
		<div id="right_side"></div>
	</div>
</body>
</html>